<html>
    <head>
        <title>Flask Template</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <h1>Here is the quiz!</h1>
        <p>Enter the answers for as many questions that you know the answer to. Then hit grade you answers for results.</p>
        <form method="POST" action="/results">
            <div class="questions">
                {% for state in states %}
                
                    <p>Enter the capital for {{ state }}</p>
                    {% set state = ''.join(state.split()) %}
                    <input type="text" name= {{ state }} placeholder="Enter your answer here"/>
                {% endfor %}
            </div>
            <div class="turn-in">
                <input type="submit" value="Grade you answers!"/>
            </div>
        </form>
    </body>
</html>